@shadow-gray-color: rgb(124, 132, 145);
@items-white-color: white;
@background-color: rgba(241, 244, 255, 0.64);
@disabled-color: rgba(169, 172, 182, 0.64);
@table-cells-color: rgb(220, 227, 243);


.content {
  min-height: 70vh;

  padding: 20px;
  margin-bottom: 25px;

  background-color: @items-white-color;

  border: 1.5px solid @shadow-gray-color;
  border-radius: 5px;

  .incidents-list {
    width: 95%;
    margin: 25px auto;

    button {
      float: right;
      font-size: 15pt;
      padding: 7px 20px;

      background-color: @items-white-color;

      border: 1.5px solid @shadow-gray-color;
      border-radius: 5px;
    }

    button:hover {
      background-color: @shadow-gray-color;
      color: @items-white-color;
    }

    table {
      width: 70%;
      border-spacing: 0;

      empty-cells: hide;

      tbody {
        tr:first-child td {
          border-top: 1.5px solid @shadow-gray-color;
        }
      }

      td {
        padding: 10px 20px;
        text-align: center;
        transition: all 0.5s linear;

        border-bottom: 1.5px solid @shadow-gray-color;
        border-right: 1.5px solid @shadow-gray-color;
      }

      th {
        padding: 10px 20px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;

        border-top: 1.5px solid @shadow-gray-color;
        border-right: 1.5px solid @shadow-gray-color;

        cursor: default;
      }

      #first-th {
        border-left: 1.5px solid @shadow-gray-color;
      }

      #second-td {
        border-left: 1.5px solid @shadow-gray-color;
      }

      td:first-child {
        text-align: center;
        font-weight: bold;
        border-left: 1.5px solid @shadow-gray-color;
        border-right: none;
      }

      td:nth-child(even) {
        background: @background-color;
      }

      td:nth-child(odd) {
        background: @items-white-color;
        border-bottom: 1.5px solid @shadow-gray-color;
      }

      th:nth-child(even)  {
        background: @background-color;
      }

      th:nth-child(odd)  {
        background: @items-white-color;
      }

      .first-column {
        border-left: 1.5px solid @shadow-gray-color;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
      }

      tr:hover td{
        background: @background-color;
        font-weight: bold;

        cursor: pointer;
      }
    }
  }
}

jw-modal {
  text-align: center;

  form {
    width: fit-content;
    margin: 0 auto;

    h3 {
      margin-top: 15px;

      font-size: 20pt;
      font-weight: 900;
    }

    .error-div {
      height: 15px;

      #error {
        width: 100%;

        color: red;
        text-align: center;
      }
    }

    .row {
      width: 100%;
      margin: 15px auto;

      text-align: justify;

      .labels {
        display: flex;
        flex-direction: column;
      }

      #name-input-group {
        float: left;
      }

      .not-empty-label {
        margin: 0 10px;
        font-size: 15pt;
      }

      textarea {
        outline: none;
        resize: none;
      }

      input, select, textarea {
        margin: 5px 10px;

        padding: 5px 7px;

        background-color: @background-color;

        border: 1.5px solid @shadow-gray-color;
        border-radius: 5px;

        font-size: 15pt;
      }

      input:invalid {
        border: 1.5px solid red;
      }

      .half {
        width: 200px;
      }

      .half-select {
        width: 216.5px;
      }

      .full-select {
        width: 95.5%;
      }

      .full {
        width: 92%;
      }
    }

    .row-button {
      text-align: center;

      button {
        padding: 7px 20px;

        background-color: @background-color;

        border: 1.5px solid @shadow-gray-color;
        border-radius: 5px;

        font-size: 15pt;
      }

      button:hover {
        background-color: @shadow-gray-color;
        color: @items-white-color;
      }

      button:disabled {
        color: @disabled-color;
        background-color: @items-white-color;

        border: 1.5px solid @disabled-color;
      }
    }
  }
}
