@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Staatliches&display=swap.css');

@background-color: rgba(241, 244, 255, 0.64);

body {
  margin: 0;
  background: @background-color;

  font-family: 'Lato', sans-serif;
}

button {
  cursor: pointer;
}
