@shadow-gray-color: rgb(124, 132, 145);
@items-white-color: white;
@text-color: rgb(64, 68, 77);

.header {
  position: fixed;
  top: 0;
  width: 100%;

  h1 {
    margin: 0;
    padding: 20px;

    background-color: @items-white-color;
    color: @text-color;

    border-bottom: 1.5px solid @shadow-gray-color;

    text-align: center;

    font-family: 'Staatliches', cursive;
    font-weight: normal;
    font-size: 25pt;
  }

  .pills {
    position: fixed;
    top: 30px;
    right: 30px;

    width: 100px;

    .link {
      padding: 10px 20px;

      background-color: @items-white-color;

      border: 1.5px solid @shadow-gray-color;
      border-radius: 10px;
    }

    .link:hover {
      background-color: @shadow-gray-color;
      color: @items-white-color;
    }
  }
}

.container-fluid {
  width: 95%;
  margin: 0 auto;

  .tabs {
    margin-top: 35px;
    padding-bottom: 9.5px;

    border-bottom: 1.5px solid @shadow-gray-color;


    .link {
      padding: 10px 20px;

      background-color: @items-white-color;

      border: 1.5px solid @shadow-gray-color;
      border-radius: 10px 10px 0 0;
    }

    #process, #users {
      border-left: none;
    }

    .active {
      border-bottom: 1.5px solid @items-white-color;
    }

    .link:hover {
      background-color: @shadow-gray-color;
      color: @items-white-color;
      border: 1.5px solid @shadow-gray-color;
    }
  }
}

.container-fluid, .header {
  a {
    text-decoration: none;
    color: @text-color;
  }

  .link {
    font-size: 13.5pt;
    font-weight: 900;
  }
}

.space {
  width: 100%;
  height: 80px;
}
