@shadow-gray-color: rgb(124, 132, 145);
@items-white-color: white;
@text-color: rgb(64, 68, 77);
@background-color: rgba(241, 244, 255, 0.64);
@disabled-color: rgba(169, 172, 182, 0.64);


.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  margin-bottom: 25px;
  padding-bottom: 50px;

  min-height: 65vh;

  background-color: @items-white-color;

  border-radius: 0 0 10px 10px;
  border-bottom: 1.5px solid @shadow-gray-color;
  border-right: 1.5px solid @shadow-gray-color;
  border-left: 1.5px solid @shadow-gray-color;

  .table-content {
    display: inline-block;

    width: 80%;
    min-width: 220px;
    max-width: 600px;

    margin: 50px auto 0 auto;

    table {
      display: table;

      width: 100%;

      margin: 0 auto;
      padding: 10px;
      border: 1.5px solid @shadow-gray-color;
      border-radius: 10px;
      background-color: @background-color;
      text-align: center;

      th {
        padding-bottom: 10px;

        font-size: 13pt;
      }

      td {
        border-radius: 5px;
        background: white;
      }
    }
  }

  .add-user {
    width: 40%;
    min-width: 220px;

    margin-top: 50px;

    form {
      max-width: 250px;
      min-width: 220px;
      margin: 0 auto;
      padding: 20px;

      color: @text-color;
      background-color: @items-white-color;
      box-shadow: 0.2em 0.2em 5px @shadow-gray-color;

      border: 1.5px solid @shadow-gray-color;
      border-radius: 10px;

      text-align: center;

      h3 {
        margin-top: 15px;
        padding-bottom: 10px;

        font-size: 20pt;
        font-weight: 900;
      }

      .error {
        width: 100%;
        margin: 5px 0;

        color: red;
        text-align: center;
        font-size: 15pt;
      }

      .error-message {
        color: red;
      }

      .form-group, .submit-but {
        margin: 18px auto;

        input, button {
          font-size: 15pt;
        }

        input {
          width: 80%;
          margin: 5px;
          padding: 5px 7px;

          background-color: @background-color;

          border: 1.5px solid @shadow-gray-color;
          border-radius: 5px;
        }

        input:invalid {
          border: 1.5px solid red;
        }

        button {
          padding: 7px 20px;

          color: @text-color;
          background-color: @background-color;

          border: 1.5px solid @shadow-gray-color;
          border-radius: 5px;
        }

        button:hover {
          background-color: @shadow-gray-color;
          color: @items-white-color;
        }

        button:disabled {
          color: @disabled-color;
          background-color: @items-white-color;

          border: 1.5px solid @disabled-color;
        }
      }
    }
  }
}

